:root {
    --white-color: #ffffff;
    --primary-color: #81B29A;
    --secondary-color: #3D405B;
    --section-bg-color: #F4F1DE;
    --custom-btn-bg-color: #F2CC8F;
    --custom-btn-bg-hover-color: #E07A5F;
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #F2CC8F;
    --body-font-family: 'DM Sans', sans-serif;
    --h1-font-size: 42px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 18px;
    --menu-font-size: 16px;
    --btn-font-size: 14px;
    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}


::selection {
    background-color: var(--primary-color);
}

/* Reset and Base Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 100px;
}

body {
    background-color: white;
    font-family: var(--body-font-family);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

/*==================Hero Section===================*/

.hero {
    position: relative;
    min-height: 680px;
    background-image: url("../images/Hero-image/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

.hero-container {
    max-width: 1320px;
    margin: 0 auto;
}

.hero .upper-wave svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}

.hero  svg {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
}

.overlay {
    background: linear-gradient(rgba(39, 48, 83, 0.01) 0%, rgb(39, 48, 83) 100%);
    position: absolute;
    inset: 0;
}

.hero-content {
    position: relative;
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    z-index: 10;
}

.hero-title {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    margin-right: auto;
    padding-right: 3rem;
}

.white-text {
    display: block;
    width: 100%;
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    flex-wrap: nowrap;
}

.white-text2 {
    display: inline-block;
    max-width: 100%;
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    margin-bottom: 28px;
}

.hero-subtitle {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.hero-subtitle a {
    display: block;
    text-decoration: none;
    color: white;
}

.hero-btn {
    display: block;
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    line-height: normal;
    padding: 10px 20px;
    margin-right: 24px;
    transition: all 0.3s;
}

.hero-btn:hover {
    background-color: var(--custom-btn-bg-hover-color);
}

.hero-link {
    font-size: 17px;
    font-weight: var(--font-weight-medium);
    transition: all 0.3s;
}

.hero-link:hover {
    color: var(--custom-btn-bg-color);
}


/*study this===================================================*/
.hero-text-animation {
    display: inline-block;
    position: relative;
    perspective: 1000px;
}

.hero-text-animation span {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: rotateX(90deg);
    transition: all 0.6s;
    color: var(--custom-btn-bg-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
}

.hero-text-animation .is-visible {
    opacity: 1;
    transform: rotateX(0deg);
    position: relative;
    color: var(--custom-btn-bg-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
}

.hero-text-animation .is-hidden {
    opacity: 0;
    transform: rotateX(90deg);
}

.hero-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 20px;
}

.hero-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    transform: translate(-5%, -5%);
    border: 0;
    border-radius: 20px;
}


/*===================Responsive Design=======================*/
@media (min-width: 576px) {
    .hero-container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .hero-container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .hero-container {
        max-width: 960px
    }

    .hero-content {
        transform: scale(0.9);
        transition: transform 0.3s ease;
        align-items: center;
    }

}

@media (min-width: 1200px) {
    .hero-container {
        max-width: 1140px
    }
}

@media (min-width: 1400px) {
    .hero-container {
        max-width: 1320px
    }

}

@media(max-width:992px) {

    .hero {
        height: 105vh;
        overflow: hidden;
    }

    .hero .under-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .hero .upper-wave svg {
        top: 80px;
    }

    .hero-content {
        margin: 0 auto;
        position: relative;
        top: -80px;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 10px;
        z-index: 10;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        display: block;
        color: white;
        width: 100%;
        height: 100%;
        margin-right: auto;
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .white-text {
        font-size: 28px;
        white-space: nowrap;
    }

    .white-text2 {
        font-size: 36px;
    }


    .hero .under-wave svg {
        display: block;
        width: 100%;
        bottom: -4px;
    }

    .hero-video {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        border-radius: 20px;
    }

    .hero-video iframe {
        position: absolute;
        top: 0;
        left: 5%;
        width: 100%;
        height: 100%;
        transform: translate(-5%, -5%);
        border: 0;
        border-radius: 20px;
    }
}

@media(max-width: 768px) {
    .body {
        width: 100vw;
    }

    .hero-content {
        position: relative;
        top: -80px;
        width: 100%;
        display: grid;
        grid-template-columns: 3fr;
        padding: 0 10px;
        z-index: 10;
        justify-content: center;
        align-items: center;
    }


    .hero-content {
        transform: scale(0.9);
        transition: transform 0.3s ease;
        margin-right: 5rem;
    }
}

@media(max-width: 576px) {

    .hero-container {
        max-width: 100%;
        margin: 0;

    }

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 20px;
        align-items: flex-start;
        transform: scale(1.01);
    }
}