:root {
    --white-color: #ffffff;
    --primary-color: #81B29A;
    --secondary-color: #3D405B;
    --section-bg-color: #F4F1DE;
    --custom-btn-bg-color: #F2CC8F;
    --custom-btn-bg-hover-color: #E07A5F;
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #F2CC8F;
    --body-font-family: 'DM Sans', sans-serif;
    --h1-font-size: 42px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 18px;
    --menu-font-size: 16px;
    --btn-font-size: 14px;
    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}


::selection {
    background-color: var(--primary-color);
}

/* Reset and Base Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 100px;
}

body {
    background-color: white;
    font-family: var(--body-font-family);
}

.membership-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}


/*=======================Membership-section========================*/
.membership {
    padding: 100px 0 70px;
}

.memership-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1;
    text-align: center;
    margin-bottom: 4rem;
}

.membership-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 4rem;
}

table {
    width: 100%;
}

.table-title {
    margin-bottom: 2rem;
}

.membership-fees table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.membership-fees thead {
    background-color: var(--secondary-color);
}

table thead th:first-child {
    width: 32% !important;
}

.membership-fees thead th {
    color: white;
    padding: 22px 16px;
    width: 22%;
}

table tbody tr td:first-child {
    width: 32% !important;
}

.membership-fees tbody td {
    text-align: center;
    padding: 1.2rem 1rem;
    font-size: 16px;
    font-weight: bold;
}

.diff-bg {
    background-color: var(--section-bg-color);
}

.correct-icon {
    color: var(--primary-color);
    font-size: 1rem;
}

.wrong-icon {
    color: var(--custom-btn-bg-hover-color);
}

.join-member-title {
    margin-bottom: 2rem;
    color: black;
}

.member-info {
    background-color: var(--secondary-color);
    padding: 30px;
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}

.member-info h2 {
    margin-bottom: 1rem;
    color: white;
}

.member-field {
    position: relative;
}

.member-field input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 100px;
    outline: none;
    border: 1px solid #dee2e6;
    font-size: 15px;
}

.member-field input+label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: rgb(70, 67, 67);
    font-size: 15px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.member-field textarea {
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #dee2e6;
    font-size: 15px;
    height: 100px;
}

.member-field textarea+label {
    position: absolute;
    top: 20%;
    left: 20px;
    transform: translateY(-50%);
    color: rgb(70, 67, 67);
    font-size: 15px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.member-field input:focus+label,
.member-field input:not(:placeholder-shown)+label,
.member-field textarea:focus+label,
.member-field textarea:not(:placeholder-shown)+label {
    top: 10px;
    left: 16px;
    font-size: 12px;
    color: var(--p-color);
}


.member-info button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 10px;
    border-radius: 40px;
    margin-bottom: 1rem;
    background-color: var(--custom-btn-bg-color);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}

.member-info button:hover {
    background-color: var(--custom-btn-bg-hover-color);
    cursor: pointer;
}

/*======================Responsive-design=======================*/


@media (max-width: 992px) {
    .membership-content {
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        margin: 0 auto;
    }

    .member-info {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .membership-container {
        max-width: 540px
    }
}

@media (min-width: 576px) {
    .membership-container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .membership-container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .membership-container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .membership-container {
        max-width: 1140px
    }
}

@media (min-width: 1400px) {
    .membership-container {
        max-width: 1320px
    }
}