:root {
    --white-color: #ffffff;
    --primary-color: #81B29A;
    --secondary-color: #3D405B;
    --section-bg-color: #F4F1DE;
    --custom-btn-bg-color: #F2CC8F;
    --custom-btn-bg-hover-color: #E07A5F;
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #F2CC8F;
    --body-font-family: 'DM Sans', sans-serif;
    --h1-font-size: 42px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 18px;
    --menu-font-size: 16px;
    --btn-font-size: 14px;
    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}


::selection {
    background-color: var(--primary-color);
}

/* Reset and Base Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 100px;
}

body {
    background-color: white;
    font-family: var(--body-font-family);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
/*==============About-section====================*/

.about {
    padding: 90px 0 50px;
}

.about-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.about-images {
    display: flex;
    gap: 2rem;
}

.person-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 203px;
    border-radius: 20px;
}

.person-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.icons {
    background-color: white;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s;
    padding: 15px 20px;
    width: auto;
}

.icons .link {
    background: var(--secondary-color);
    border-radius: 100px;
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 36px;
    transition: all 0.4s;
}

.link:hover {
    background-color: var(--primary-color);
}


.person-image:hover img {
    transform: scale(1.2);
}

.person-image:hover .icons {
    opacity: 1;
}

.image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--p-color);
    gap: 1rem;
    padding: 5px 15px;
}

.about-text h2 {
    margin-bottom: 1rem;
}

.image-text .image-name {
    font-size: 24px;
    font-weight: 500;
    color: black;
    letter-spacing: -1;
}

.about-history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-text h2 {
    font-size: 28px;
    font-weight: 500;
}

.first-pf-word {
    font-weight: 700;
}

.about-pf {
    color: var(--p-color);
    font-size: 18px;
    font-weight: 400;
}

/*=========================NewsLetter-section===========================*/
.newletter {
    position: relative;
    background-image: url("../images/About/image-3.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 4rem;
}

.news-letter {
    display: inline-block;
    position: relative;
    left: 16%;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px) saturate(180%);
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 20px;
    padding: 50px;
    min-width: 400px;
}

.news-letter h2 {
    font-size: 36px;
    font-weight: 700;
}

.news-letter p {
    margin: 1rem 0;
    color: var(--p-color);
    font-size: 18px;
    white-space: pre-line;
}

.newletter-upper-wave svg {
    display: block;
    position: relative;
}

.newletter-under-wave {
    position: relative;
    bottom: -1px;
    transform: rotate(180deg);
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 100px;
    padding: 10px 15px;
}

.input-box input {
    border: none;
    outline: none;
    background-color: white;
    padding: 10px 15px;
}

.input-box i {
    display: inline-block;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 20px;
    color: var(--p-color);
}

.input-box input {
    font-size: 1.2rem;
}

.input-box button {
    border: none;
    outline: none;
    color: white;
    background-color: var(--custom-btn-bg-color);
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;

}

.input-box button:hover {
    background-color: var(--custom-btn-bg-hover-color);
    cursor: pointer;
}


/*=======================Membership-section========================*/
.membership {
    padding: 100px 0 70px;
}

.memership-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1;
    text-align: center;
    margin-bottom: 4rem;
}

.membership-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 4rem;
}

table {
    width: 100%;
}

.table-title {
    margin-bottom: 2rem;
}

.membership-fees table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.membership-fees thead {
    background-color: var(--secondary-color);
}

table thead th:first-child {
    width: 32% !important;
}

.membership-fees thead th {
    color: white;
    padding: 22px 16px;
    width: 22%;
}

table tbody tr td:first-child {
    width: 32% !important;
}

.membership-fees tbody td {
    text-align: center;
    padding: 1.2rem 1rem;
    font-size: 16px;
    font-weight: bold;
}

.diff-bg {
    background-color: var(--section-bg-color);
}

.correct-icon {
    color: var(--primary-color);
    font-size: 1rem;
}

.wrong-icon {
    color: var(--custom-btn-bg-hover-color);
}

.join-member-title {
    margin-bottom: 2rem;
    color: black;
}

.member-info {
    background-color: var(--secondary-color);
    padding: 30px;
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}

.member-info h2 {
    margin-bottom: 1rem;
    color: white;
}

.member-field {
    position: relative;
}

.member-field input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 100px;
    outline: none;
    border: 1px solid #dee2e6;
    font-size: 15px;
}

.member-field input+label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: rgb(70, 67, 67);
    font-size: 15px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.member-field textarea {
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #dee2e6;
    font-size: 15px;
    height: 100px;
}

.member-field textarea+label {
    position: absolute;
    top: 20%;
    left: 20px;
    transform: translateY(-50%);
    color: rgb(70, 67, 67);
    font-size: 15px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.member-field input:focus+label,
.member-field input:not(:placeholder-shown)+label,
.member-field textarea:focus+label,
.member-field textarea:not(:placeholder-shown)+label {
    top: 10px;
    left: 16px;
    font-size: 12px;
    color: var(--p-color);
}


.member-info button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 10px;
    border-radius: 40px;
    margin-bottom: 1rem;
    background-color: var(--custom-btn-bg-color);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}

.member-info button:hover {
    background-color: var(--custom-btn-bg-hover-color);
    cursor: pointer;
}

/*======================= Events-section=======================*/

.events {
    padding: 100px 0 70px;
    margin: 0 auto;
    background-color: var(--section-bg-color);
}

.events-content h2:first-of-type {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem !important;
}

.events-content {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
}

.upcoming-event {
    display: flex;
    gap: 1.5rem;
}

.event2 {
    background-color: white;
    padding: 30px 20px;
    border-radius: 20px;
}

.event-date {
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
    width: 15%;
    height: 110px;
    border-radius: 20px;
}

.event-date p:first-of-type {
    font-size: 42px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.event-date p:last-of-type {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.event-image {
    position: relative;
    width: 30%;
    height: 255px;
    overflow: hidden;
    border-radius: 20px;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.event-image:hover img {
    transform: scale(1.2);
}

.event-image .upcoming-event-image-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: var(--custom-btn-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s;
    opacity: 0;
}

.event-image .upcoming-event-image-link i {
    transform: rotate(40deg);
}

.event-image:hover .upcoming-event-image-link {
    opacity: 1;
}

.event-image .upcoming-event-image-link:hover {
    background-color: var(--custom-btn-bg-hover-color);
}

.event-details {
    width: 45%;
    margin-top: 1rem;
}

.event-details h2:first-of-type {
    font-size: 28px;
    font-weight: 500;
    color: var(--secondary-color);
}

.event-details>p:first-of-type {
    font-size: 18px;
    font-weight: 400;
    color: var(--p-color);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #dee2e6;
}

.sub-info {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.meta-info p {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);
}

.meta-info span {
    font-size: 18px;
    font-weight: 400;
}

.meta-info1 span {
    color: var(--p-color);
    margin-left: 3rem;
}

.meta-info2 span {
    color: var(--p-color);
    margin-left: 4.2rem;
}

.meta-info2 {
    margin-bottom: 1rem;
}

.sub-info button {
    background-color: var(--custom-btn-bg-color);
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
}

.sub-info button:hover {
    background-color: var(--custom-btn-bg-hover-color);
}

/* ========================Contact Us-section=====================  */

.contacts {
    margin: 0 auto;
    padding: 80px 0 70px;
}

.contacts-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contact-info {
    position: relative;
    width: 100%;
}

.contact-info img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-address {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    height: 55%;
    width: 40%;
}

.contact-address p {
    font-size: 16px;
    font-weight: 600;
    margin: 1rem;
}

.contact-address a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.contact-address button {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 10px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: var(--custom-btn-bg-hover-color);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

.contact-address button:hover {
    background-color: var(--custom-btn-bg-color);
}

.cont h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.cont {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

form {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 1rem;
}

.field {
    position: relative;
    width: 100%;
}

.field input {
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    font-size: 15px;
}

.massage-field {
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    font-size: 15px;
    height: 120px;
    margin-bottom: 1rem;
}

.field label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    color: rgb(70, 67, 67);
    pointer-events: none;
    transition: 0.2s ease;
    background-color: white;
    padding: 0 5px;
}

.massage-field+label {
    top: 20%;
}

.field input:focus,
.field textarea:focus {
    border: 1px solid var(--p-color);
    outline: none;
}

.field input:focus+label,
.field input:not(:placeholder-shown)+label,
.field textarea:focus+label,
.field textarea:not(:placeholder-shown)+label {
    top: -2px;
    font-size: 12px;
    color: var(--p-color);
}

.cont button {
    padding: 15px 10px;
    background-color: var(--custom-btn-bg-color);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.cont button:hover {
    background-color: var(--custom-btn-bg-hover-color);
}

/*========================= footer-section=========================*/

.footer-wave svg {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    pointer-events: none;
}

.footer-wave {
    z-index: 0;
}

.footer-content {
    position: relative;

}

.footer-icons-dates {
    display: flex;
    justify-content: space-between;
    z-index: 1;

}

.footer-sec2 {
    display: flex;
    gap: 5rem;
}

.footer-sec2 .footer-icons {
    margin: auto 0;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.footer-logo-icon img {
    width: 48px;
    height: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.footer-logo-title {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.footer-logo-subtitle {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: bold;
}

.footer-dates h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--secondary-color);
    letter-spacing: -1;
    margin-bottom: 1rem;
}

.footer-date {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    color: var(--p-color);
    margin-bottom: 1rem;
}

.footer-date+p {
    margin-right: 2rem;
}

.footer-dates>p {
    font-size: 18px;
    font-weight: 400;
    color: var(--p-color);
}

.footer-date1 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.footer-date2 {
    margin-bottom: 3rem;
}

.footer-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-links a {
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
    background-color: var(--secondary-color);
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}

.footer-links a i {
    transform: translate(-1px);
}

.footer-links a:hover {
    background-color: var(--primary-color);
}

.footer-icons p {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.footer-icons p span {
    color: var(--p-color);
    font-size: 18px;
    font-weight: 400;
}

.footer-icons p span:hover {
    color: var(--link-hover-color);
}

/*====================== Hero-Event-listing======================*/

.event-list-hero {

    background-image: url("../images/Hero-image/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background: linear-gradient(rgba(39, 48, 83, 0.01) 0%, rgb(39, 48, 83) 100%);
    position: absolute;
    inset: 0;
}

.hero-container {
    padding: 200px 0;
}

.event-list-white-text {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 20%;
}

.event-list-btn {
    text-decoration: none;
}

.event-list-unde-wave {
    transform: rotate(180deg);
    bottom: -1px;
}

/*===================Lastest-Events====================*/

.lastest-events-content {
    padding-bottom: 100px;
    margin-top: 0 auto;
}

.lastest-events-content>h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.lastest-evs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.lastest-ev {
    display: flex;
    flex-direction: column;
}

.ev-image {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

.ev-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s;
}

.ev-image:hover img {
    transform: scale(1.2);
}


.ev-image>.lastest-ev-image-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: var(--custom-btn-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s;
    opacity: 0;
}

.ev-image>.lastest-ev-image-link i {
    transform: rotate(40deg);
}

.ev-image:hover>.lastest-ev-image-link {
    opacity: 1;
}

.ev-image>.lastest-ev-image-link:hover {
    background-color: var(--custom-btn-bg-hover-color);
}



.ev-con {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ev-con a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 50%;
    padding: 15px 20px;
    background-color: var(--custom-btn-bg-color);
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s;
    border-radius: 0 0 20px 0px;
    height: 100%;
    text-align: center;
}

.ev-con a:hover {
    background-color: var(--custom-btn-bg-hover-color);
}

.ev-con a:focus {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.ev-con p {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 50%;
    padding: 15px 20px;
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s;
    border-radius: 0 0 0 20px;
    height: 100%;
    text-align: center;
}

.ev-sub a {
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
    color: var(--secondary-color);
    margin: 1rem 0;
    transition: all 0.3s;
}

.ev-sub a:hover {
    color: var(--custom-btn-bg-color);
}

.ev-sub>p {
    font-size: 18px;
    font-weight: 400;
    color: var(--p-color);
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.ev-meta {
    margin-top: 1rem;
}

.ev-meta span {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 700;
    margin-right: 3rem;

}

.ev-meta .st2 {
    margin-right: 4rem;
}

.ev-meta p {
    color: var(--p-color);
    font-size: 18px;
    font-weight: 400;
}

/*=============== event-details-page==================*/

.event-details {
    padding: 40px 0;
    margin: 0 auto;
}

.event-details-content {
    width: 50%;
    margin: 0 auto;
}

.event-details-content-h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 3rem;
    color: black;
    padding-top: 80px;
}

.event-details-con {
    display: grid;
    grid-template-columns: 1fr;
}

.event-details-image {
    border-radius: 20px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.3s;
}

.event-details-image img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.3s;
}

.event-details-image:hover img {
    transform: scale(1.2);
}

.event-details-pf {
    margin-left: 3rem;
}

.event-details-pf>h2 {
    font-size: 28px;
    font-weight: 500;
    color: black;
    margin: 1rem 0;
}

.event-details-pf>p {
    font-size: 18px;
    font-weight: 400;
    color: var(--p-color);
    white-space: pre-line;
}

.event-details-box {
    width: 80%;
    background-color: var(--section-bg-color);
    border-radius: 20px;
    padding: 50px 25px;
    margin: 3rem auto 0;
}

.event-details-box>p {
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.event-details-box-co {
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
}

.event-details-box-date {
    display: flex;
    flex-direction: column;
}

.event-details-box-date p {
    color: var(--secondary-color);
    font-weight: 700;
}

.event-details-box-date span {
    display: block;
    color: var(--p-color);
    font-size: 18px;
    font-weight: 400;
}

.event-details-content-contact-info {
    margin: 3rem 0;
}


.event-details-content-contact-info .contact-address {
    height: 180px;
}

/*======================Login-Panel======================*/

.login-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: var(--primary-color);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
    z-index: 999;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.login-panel.active {
    right: 0;
}

.login-panel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.login-panel-overlay.active {
    opacity: 1;
    visibility: visible;
}

.login-content h2 {
    padding: 16px;
    color: black;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1;
    margin-bottom: 1rem;
}

.close-btn {
    position: absolute;
    display: inline-block;
    top: 50px;
    right: 40px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: color 0.3s ease;
    transition: transform 0.4s ease;
}

.close-btn:hover {
    transform: rotate(180deg);
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.login-field {
    position: relative;
}

.login-field input {
    padding: 15px;
    width: 100%;
    border-radius: 40px;
    border: none;
    outline: none;
    display: block;
    font-size: 16px;
    color: var(--p-color);
    transition: all 0.1s;
}

.login-field input:hover,
.login-field input:focus {
    outline: 2px solid black;
}

.login-field input[placeholder] {
    font-size: 15px;
    font-weight: 400;
}

.login-field label {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #212529;
}

.login-checkbox {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.login-checkbox input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #dee2e6;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.login-checkbox input[type="checkbox"]:focus {
    box-shadow: 0 0 1px 4px #0d6dfd65;
}

.login-checkbox input[type="checkbox"]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.login-checkbox input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 10px;
}

.login-checkbox label {
    color: #212529;
}

.login-links1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-links1 button {
    background: var(--custom-btn-bg-color);
    padding: 12px 40px;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
    margin-bottom: 1rem;
    cursor: pointer;
}

.login-links1 button:hover {
    background-color: var(--custom-btn-bg-hover-color);
}

.login-links1 a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.3s;
}


.login-links1 a:last-of-type:hover {
    color: var(--custom-btn-bg-color);
}

.login-link2 {
    position: absolute;
    bottom: 100px;
    left: 60px;
    display: flex;
    gap: 1rem;
}

.login-link2 p {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.login-link2 a {
    text-decoration: none;
    display: inline-block;
    color: var(--secondary-color);
    font-size: 18px;
    transition: all 0.3s;
}

.login-link2 a:hover {
    color: var(--custom-btn-bg-color);
}

.login-panel .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}