:root {
    --white-color: #ffffff;
    --primary-color: #81B29A;
    --secondary-color: #3D405B;
    --section-bg-color: #F4F1DE;
    --custom-btn-bg-color: #F2CC8F;
    --custom-btn-bg-hover-color: #E07A5F;
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #F2CC8F;
    --body-font-family: 'DM Sans', sans-serif;
    --h1-font-size: 42px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 18px;
    --menu-font-size: 16px;
    --btn-font-size: 14px;
    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}


::selection {
    background-color: var(--primary-color);
}

/* Reset and Base Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 100px;
}

body {
    background-color: white;
    font-family: var(--body-font-family);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

/*======================Login-Panel======================*/

.login-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: var(--primary-color);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
    z-index: 999;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.login-panel.active {
    right: 0;
}

.login-panel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.login-panel-overlay.active {
    opacity: 1;
    visibility: visible;
}

.login-content h2 {
    padding: 16px;
    color: black;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1;
    margin-bottom: 1rem;
}

.close-btn {
    position: absolute;
    display: inline-block;
    top: 50px;
    right: 40px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: color 0.3s ease;
    transition: transform 0.4s ease;
}

.close-btn:hover {
    transform: rotate(180deg);
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.login-field {
    position: relative;
}

.login-field input {
    padding: 15px;
    width: 100%;
    border-radius: 40px;
    border: none;
    outline: none;
    display: block;
    font-size: 16px;
    color: var(--p-color);
    transition: all 0.1s;
}

.login-field input:hover,
.login-field input:focus {
    outline: 2px solid black;
}

.login-field input[placeholder] {
    font-size: 15px;
    font-weight: 400;
}

.login-field label {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #212529;
}

.login-checkbox {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.login-checkbox input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #dee2e6;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.login-checkbox input[type="checkbox"]:focus {
    box-shadow: 0 0 1px 4px #0d6dfd65;
}

.login-checkbox input[type="checkbox"]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.login-checkbox input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 10px;
}

.login-checkbox label {
    color: #212529;
}

.login-links1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-links1 button {
    background: var(--custom-btn-bg-color);
    padding: 12px 40px;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
    margin-bottom: 1rem;
    cursor: pointer;
}

.login-links1 button:hover {
    background-color: var(--custom-btn-bg-hover-color);
}

.login-links1 a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.3s;
}


.login-links1 a:last-of-type:hover {
    color: var(--custom-btn-bg-color);
}

.login-link2 {
    position: absolute;
    bottom: 100px;
    left: 60px;
    display: flex;
    gap: 1rem;
}

.login-link2 p {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.login-link2 a {
    text-decoration: none;
    display: inline-block;
    color: var(--secondary-color);
    font-size: 18px;
    transition: all 0.3s;
}

.login-link2 a:hover {
    color: var(--custom-btn-bg-color);
}

.login-panel .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*===================Responsive Design=======================*/
@media(max-width:400px) {
    .login-panel {
        width: 100%;
    }
}